contourpy==1.0.7
cycler==0.11.0
fonttools==4.38.0
grandalf==0.8
joblib==1.2.0
kiwisolver==1.4.4
lxml==4.9.2
matplotlib==3.7.1
networkx==3.0
numpy==1.24.2
packaging==23.0
pandas==1.5.3
Pillow==9.4.0
pygraphml==2.4.2
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.7.1
scikit-learn==1.2.2
scipy==1.10.1
seaborn==0.12.2
six==1.16.0
Theano==1.0.5
threadpoolctl==3.1.0
